[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
django = "*"
django-cors-headers = "*"
gunicorn = "*"
packaging = "*"
pillow = "*"
pyjwt = "*"
python-dotenv = "*"
sqlparse = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
bcrypt = "*"
stripe = "*"
django-admin-soft-dashboard = "*"

[dev-packages]

[requires]
python_version = "3.9"
